{% extends "base.html" %}
{% load static %}


{% block title %} {{ title }} {% endblock %}

{% block content %}
<ul>
    {% for sugg in list %}
    <li>{{ sugg.suggestion }} - {{ sugg.author }} 
        <ul>
            {% for comm in sugg.comments %}
            <li>{{ comm.comment }} - {{ comm.author }}</li>
            {% endfor %}
        </ul>
    </li>
    {% endfor %}
</ul>
<form action="/" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Add Suggestion" class="button">
</form>

{% endblock %}